python_version >= "3.8"

numpy==1.24.2
matplotlib==3.7.0
PySide2==5.15.2.1
pyvista==0.38.3
pyvistaqt==0.9.1
pyinstaller==5.9.0
trame==2.3.2
ipywidgets==7.6.5
imageio==2.9.0
imageio-ffmpeg==0.4.5
watchdog==2.1.6
qt_material==2.8.1